// font size
$fs-header-name: 20px;
$fs-header-label: 24px;

$fs-intro-title: 56px;
$fs-intro-subtitle: 20px;
$fs-intro-btn: 20px;

$fs-section-title: 36px;

$fs-main-text: 18px;
$fs-alt-text: 24px;

// text color
$color-main-text: black;
$color-alt-text: white;

// background color
$bg-color-main: none;
$bg-color-alt: #f2f2f2;
$bg-color-overlay: black;

$bg-button: rgba(0, 0, 0, 0.6);
$bg-button-active: rgba(0, 0, 0, 0.8);

// icons color
$pdf-color: rgb(230, 49, 49);
$wa-color: rgb(64, 207, 64);
$email-color: #005ff9;
$form-color: #fc0;
$telegram-color: #6cc1e3;

// sizes
$header-height: 60px;
