.share-link {
  position: relative;
  display: block;

  width: 36px;
  height: 36px;

  background-color: $bg-color-alt;
  border-radius: 50%;
  @include transition(background-color);

  &:hover {
    background-color: rgba(0,0,0,0);
  }

  &:focus {
    outline: none;
    background-color: rgba(0,0,0,0);
  }

  &:hover .share-link__icon {
    fill: $color-alt-text;
  }

  &:focus .share-link__icon {
    fill: $color-alt-text;
  }

  &_type {

    &_wa {
      &:hover .share-link__icon {
        fill: $wa-color;
      }
      &:focus .share-link__icon {
        fill: $wa-color;
      }
    }

    &_telegram {
      &:hover .share-link__icon {
        fill: $telegram-color;
      }
      &:focus .share-link__icon {
        fill: $telegram-color;
      }
    }

    &_email {
      &:hover .share-link__icon {
        fill: $email-color;
      }
      &:focus .share-link__icon {
        fill: $email-color;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 22px;
    height: 22px;
    fill: $bg-button;
    @include transition(fill);
  }
}
